{:family.bot.services.scheduling/rates         {:provider  #ig/ref :family.bot.providers.rates.cbrf/rates
                                                :messaging #ig/ref :family.bot.services.messaging.telegram/telegram
                                                :schedule  #profile {:dev  {:in    [2 :seconds]
                                                                            :every [10 :seconds]
                                                                            :limit 1}
                                                                     :prod {:every :day
                                                                            :at    "09:10"}}}
 
 :family.bot.services.scheduling/weather       {:provider  #ig/ref :family.bot.providers.weather.weather-api-com/weather
                                                :messaging #ig/ref :family.bot.services.messaging.telegram/telegram
                                                :schedule  #profile {:dev  {:in    [2 :seconds]
                                                                            :every [10 :seconds]
                                                                            :limit 1}
                                                                     :prod {:every :day
                                                                            :at    "09:11"}}}
 
 :family.bot.services.messaging.telegram/telegram {:token    #env TELEGRAM_TOKEN
                                                   :chat-id  #env TELEGRAM_CHAT_ID
                                                   :base-url "https://api.telegram.org"}
 
 :family.bot.providers.rates.cbrf/rates {:base-url   "http://www.cbr.ru/scripts/XML_daily.asp" 
                                         :currencies #{"EUR" "USD"}}
 
 :family.bot.providers.rates.open-er-api-com/rates {:base-url   "https://open.er-api.com/v6/latest" 
                                                    :currencies #{"EUR" "USD"}}
 
 :family.bot.providers.weather.weather-api-com/weather {:key      #env WEATHER_API_KEY 
                                                        :base-url "http://api.weatherapi.com/v1/forecast.json?q=Kaliningrad&aqi=no&days=1"}
 
 :family.bot.providers.weather.accuweather/weather {:key          #env ACCUWEATHER_KEY 
                                                    :base-url     "http://dataservice.accuweather.com/forecasts/v1/daily" 
                                                    :location-key #env ACCUWEATHER_LOCATION}}
